@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f4f4f4;
}

html {
  font-family: "Roboto Mono";
  font-size: 24px;
  scroll-behavior: smooth;
}

a:hover {
  color:rosybrown;
}

 /*LOADER*/
.loader {
  border-top: 8px solid rosybrown;
  color:white;/* Blue*/
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 20%;
  left:50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  animation-fill-mode: forwards;

}

@keyframes opacity {
  0% {opacity: 0}
  100%{opacity:1}
}

@keyframes message {
  0% { left:-800px }
  100% { right:100px }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-wrapper  {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.9);
  top: 0;
  left:0;
  display:flex;
  align-items: center;
}

#loader {
  background-color:rgba(0, 0, 0, 0.9);
  text-align: center;
  width:100vw;
  height:100vh;
  z-index:0;
  animation: opacity;
}

#software a {
  margin-right:100px;
  margin-left:100px;
  margin-bottom:50px;
}

#softwareHeader{
  margin-top:200px;
}







#software img {
  height:80px;
  width: 80px;
  margin: 10px;
  margin-top:20px;
  display:inline;
  display: flex;
}
 
 
 /* Add a black background color to the top navigation */
 .topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;;

  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color:  rgb(106, 9, 9);
    background-color:  rgb(98, 22, 22);
    color: black;
    color:white;
    transition-duration: 2s;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding:  17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top:5px;
    cursor: pointer;

  }

  @media screen and (min-width:800px) {
  .dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding:  20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top:5px;
    cursor: pointer;

  }
  }


  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-color: rgba(0, 0, 0, 0.641);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.854);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.5s;
  }

  @media screen and (min-width:800px) {
    .dropdown-content a {
      float: none;
      color: black;
      color:white;
      padding: 20px;
      margin:0px;
      text-decoration: none;
      width:219px;
      display: block;
      text-align: left;
      transition-duration: 1s;
    }
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.434);
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.607);
    color: white;
    padding:10px;
    transition: 1s;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button
  .dropdown:hover .dropdown-content {
    display: block;
  }*/


  /* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: rgb(98, 22, 22);
  transition-duration: 2s;



}

.show {
  display:block;

}
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    
  } 


  section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  #home{
    background: url('https://gdurl.com/9oir') no-repeat center center/cover;
    height:110vh;
    font-family: 'Readex Pro', sans-serif;
    color:#434b4d;
  
  }
  #about {
    background: url('https://gdurl.com/otZT') no-repeat center center/cover;
    height:110vh;
  }
  #about h1 {
    margin-top:10vh;
  }
  #events{
    background: url('https://gdurl.com/x2r7') no-repeat center center/cover;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.6);
    height:1200px;
  }
  #events h1 {
    margin-top: 35vh;
  }
  #equipment .container{
    background: url('https://gdurl.com/rWY6') no-repeat center center/cover;
    background-color:rgba(0,0,0,0.6);
    width:100%;
  }
  #equipment2{
    background: url('https://gdurl.com/zVIJ') no-repeat center center/cover;
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:200vh;
  }
  
  #equipment {
    height:100vh;
  }
  
  #ubiqui  h2{
      margin-top: 50px;
  }

    
  
  #service {
    background: url('https://gdurl.com/aGja') no-repeat center center/cover;
    height:220vh;
    overflow-y: scroll;
  
  }
  #contact{
    background: url('https://gdurl.com/BFqc') no-repeat center center/cover;
    text-transform: none;
    height:205vh;
  }
  #contacts{
    font-size: 20px; 
    float:left;
    width:35%;
    margin-left:auto;
    margin-right:auto;
    text-transform: none;
  
  
  }
  section#contact h1 {
    text-align: center;
    /*border-bottom: 5px solid rgb(130,120,110);*/
    overflow-y: hidden;
    margin-bottom: 10vh;
    margin-top:35vh;
  }
  .container {
    /* CSS Smooth Scroll*/
    overflow-y: scroll; 
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory;
    /*scroll-padding: 100px;*/
  }
  
  section#events .container{
    margin-bottom: 200px;
    width:100%;
  
  }
  
  #AGB{
    margin-top:100px;
  }
  
  #header_eq{
    margin-top: 36vh;
  
  }
  
  h1 {
    font-size: 6rem;
    margin-bottom:60px;
  }
  section#about h1{
    font-size: 5rem;
    margin-bottom: 12vh;
  }
  section#footer {
    background-color: crimson;
    background-color: black;
    height:40vh;
  }
  
  #footer_content{
    background-color:black;
  }
  
  #logoNAV{
    height:70px;
    margin-top:20px;
    margin-right:400px;
    margin-left:20px;
    transition:0.5s;
  }
  
  @media screen and (max-width: 600px) {
  #logoNAV{
    height:35px;
  }
  
  }
  
  
  #logo{
    font-size: 93px;
    font-family: 'Readex Pro', sans-serif;
    text-transform: none;
  }
  
  #logofont {
    background: rgba(0, 0, 0, 0.534);
    padding:10px;
    margin:20px;
    margin-bottom:50px;
    margin-top:25vh;
    width:45%;
    height:680px;
  }
  
  #logotop{
    font-size: 130px;
    text-transform: none;
  }
  
  
  @media screen and (max-width: 600px) {
    #logofont {
      width:95%;
      padding:10px;
      margin-top:20vh;
      font-size: 10px;
    }
  
    #logotop{
      font-size: 90px;
      text-transform: none;
  
    }
  }
  
  #animated{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height:10px;
    background-color: white;
    margin: 20px;
    margin-right: auto;
    margin-left:auto;
    animation: start 2s;
  }
  #animated1 {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    height:10px;
    background-color: white;
    margin: 20px;
    margin-top:0px;
  }
  
  
  #animated_Button{
    cursor:pointer;
    margin-top: -5vh;
    animation: animatedButton;
  }
  
  @keyframes animatedButton {
    0%{
  
      opacity: 0%;
    }
  
    50% {
      opacity: 50%;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  
  
  
  
  #container_leistungen p {
    text-align:justify;
  }
  
  
  @keyframes start{
    0%{
      width:0px;
      height:10px;
    }
    100%{
      width:80%;
      height:10px;
    }
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    font-size: 20px;
    background: rgba(0,0,0,0.9);
  }

  @media screen and(max-width:600px){
    nav{
      position: fixed;
      top: 0;
      z-index: 1;
      display: flex;
      width: 100%;
      font-size: 20px;
      background: rgba(0,0,0,0.9);
      transition-duration: 2s;
      
    }
  }

  ul#left a {
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  nav ul {
    list-style: none;
    width: 100%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.591);
    border-bottom:10px solid rgb(98, 22, 22);

  }
  @media screen and (min-width:800px) {
    nav .topnav ul a {
      font-size: 25px;
    }
  }

    @media screen and (max-width:600px){
      nav .topnav ul a {
        transition: 2s;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  /* CONTACT FORM */
  /* Style inputs with type="text", select elements and textareas */
  /* Add a background color and some padding around the form */
  .contact_container {
    border-radius: 5px;
    background-color: #1d1a1a5e;
    border-style: none;
    padding: 10px;
    opacity: 0.9;
    text-align: left;
    color:#dfd2d2;
    width: 700px;
    height:630px;
    margin:50px;
    margin-top:0px;
  
  } 
  #KONTAKT{
    margin-top:20vh;
    width:80%;
    height:1000px;
    overflow-y: hidden;
    background: rgb(158, 108, 108);
    background: rgb(199, 59, 59);;
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    font-size: 1em;
    text-transform: none;
    color: #f4f4f4;
  }
  input[type=text], select, textarea {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
     font-size: large;
    padding: 16px;
    background: none;
    border-style: none;
    border-bottom: 2px solid rgb(130,120,110);
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 26px; /* Bottom margin */
   /* resize: vertical;  Allow the user to vertically resize the textarea (not horizontally) */
    text-align: start;
  }
  
   textarea{
    height:300px;
  
  }
  
  #service-kontakt{
  cursor:pointer;
  border:1px solid rosybrown;
  padding:20px;
  letter-spacing: 0.3em;
  margin-bottom:50px;
  margin-top:55px;
  margin:100px;
  
  }
  #service-kontakt:hover{
    color:rosybrown;
    color:black;
    border:1px solid white;
  
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rosybrown;
    text-align: center;
    color: white;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    display: block;
    margin: 0 auto;
    margin-bottom:30px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(155, 105, 105);
    color:white;
  }
  
  :focus{outline:none;}
  
  
  
  .focus-border{
    background-color:red;height:5px;transition: 0.4s;
  }
  
  #subject {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a{
    text-decoration: none;
    color:#dfd2d2;
  }
  a:hover{
    color:rosybrown;
  }
  
  footer{
    width:100%;
    height:300px;
    background-color: black;
    margin:0px;
  
  }

  #footer_content nav{

    position:static;
    font-size:0.6rem;
  }
  
  #footer-kontakt p{
  
    font-size:16px;
    text-align:start;
    height:10px;
  }
  #footer-kontakt{
    display: flex;
    flex-direction: column;
    align-items: start;
  
  }
  
  #footer-kontakt i {
   margin-left:10px;
  }
  
  
  button {
    border:none;
    font-family: "Roboto Mono";
    background-color: black;
    background-color: transparent;
    text-transform: uppercase;
    margin: 0 1rem;
    padding: 1rem;
    padding-bottom: 0px;
    margin-bottom: 15px;
    word-wrap: break-word;
    max-width: 100%;
  
  
  }

  #Previews
 {
   height:800px;
   width:80vw;
   margin-left:auto;
   margin-right:auto;

}

#video{
  margin-left: 5%;
  }
  
  
  /* Clearfix (clear floats) */
  :after {
    content: "";
    clear: both;
    display: table;
  }
  
  h1#portfolio{
    font-size: 6rem;
  }
  
  .landing{
    font-size: 6rem;
    margin:1px; 
    width: 1000px;
  }
  
  #header_INDEX{
  
    font-size: 6rem;
    margin-top: 10px;
  }
  
  video {
    width:300px;
    height:300px;
  }
  
  
  /* 
  This is the starting grid for each video with thumbnails 4 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */

  .video {
    background: #fff;
    background: #000000;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
    margin-top:50px;
  
  }
  
   /* 
   These keep the height of each video thumbnail consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
   */
  
  .video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
    .video figure a {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      line-height: 0;
    }
  
  
  /* Media Queries - This is the responsive grid. */
  
  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }
  
  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }
  
  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; /* Single column view. */
      margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
      float: none;
    }
  }
  /* These are my preferred rollover styles. */
  
  .video img {
    width: 100%;
    opacity: 1;
  }
  .videoThumb{
    height:200px;
  }
  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }


  .videoTitle{
    margin-top: 20px;
  }

  article.video p {
    background-color: black;
    background: rgb(165, 42, 42);
    margin-bottom:0px;
    padding:10px;
  }




/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;

  width: 15%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */


/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

image .column{
  margin:10px;
}

.column {
  margin:10px;
}


.scrolled{
  min-height: 80px;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s all ease-in-out;
  padding:-1rem;
}
.scrolled #logoNAV{
  height:50px;
  transition: 0.2ms all ease-in-out;
  margin-top: 20px;
  margin-left: 20px;
  transition:0.5s;
}

@media screen and (max-width:600px){
  .scrolled #logoNAV{
    height:25px;
  }
  .scrolled {
    height:50px;
  }

}

p {
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  padding:20px 10px 50px 10px;
  
}

#leistungendiv {
  background-color:black;
  height:600px;
  width:72%;
  display: flex;
  flex-direction: row; 
  margin-top:20vh; 
  margin-left:14%;

}
#leistungendiv img {
  margin:100px 0px 50px 0px;
}
#leistungendiv p{
  padding:0px;
  font-size:smaller;
  padding:10px 10px ;
  max-width: 500px;
  margin:40px;
  margin-top:20px;
}

/*BILDER-GALLERY*/


.container_bilder {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top:200px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top:48%;
  width: 10;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  position:absolute;
  top:48%;
  left:0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}


.row_bilder:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column_bilder {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/* ANIMATIONS*/

#animateBtn{
  opacity: 0;
  animation-name:animateBtn ;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}

@keyframes animateBtn{
  0%{opacity: 0}
  100%{opacity: 1}
}


/* MEDIEA QUERRYS RESPONSIVE LAYPUT */

/* SMARTPHONE ( 600px breit maximal )*/

@media screen and (max-width: 600px) {
  body ,  html{
    overflow-x: hidden;
    min-width:  auto;
  }

  .icon {
    display:block;
    height:50px;
    width:50px;
  }
}
img#more {
  margin-bottom:30vh;
}

#agb
{
  font-size: 40px;
}


ul .active {
  color:black;
  color:white;
  margin:0px;
  padding:26px;
}


#all-rights {
  font-size: small;
  margin-top:90px;
}

.numbertext img {
  height:auto;
  width:100%;
}